
.body {
    margin: 30px;
}
.card {
    width: 18%;
    height: 130px;
    box-shadow: 2px 4px whitesmoke;
}

.title {
    text-align: center;
}

.card1 {
    text-align : center;
    color:rgb(0, 107, 180);
}

.card2 {
    text-align : center;
    color:rgb(0, 120, 113);
}

.card3 {
    text-align : center;
    color:rgb(189, 39, 30);
}

.card4 {
    text-align : center;
    color:rgb(254, 197, 20);
}

.card5 {
    text-align : center;
    color:rgb(100, 106, 119);
}

.card-body {
    align-content: center;
}


